<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notes-SpotlightIndexer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Notes-TodayScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notes-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Notes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>615AB14F1F51C3AF005839AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>615AB1621F51C3B0005839AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>615AB16D1F51C3B0005839AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>615AB18B1F5F66DD005839AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>615AB19E1F5F66DE005839AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>615AB1A91F5F66DE005839AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
